EXPO_PUBLIC_API_URL=""

EXPO_PUBLIC_API_URL_FAST_API=""

# ----------- BAND API URL -----------
EXPO_PUBLIC_BAND_API_URL=https://app.band.ai/api/v1

# ----------- INVESTMENT API KEY -----------
EXPO_PUBLIC_ALPHA_VANTAGE_KEY=""

# ---------------- API KEYS ----------------
# COMMUNICATION AGENT
EXPO_PUBLIC_COMMUNICATION_AGENT_API_KEY=""

# ---------------- UUIDs ----------------
# SCAM ANALYST
EXPO_PUBLIC_SCAM_ANALYST_UUID=""

# FINANCIAL AUDITOR
EXPO_PUBLIC_FINANCIAL_AUDITOR_UUID=""

# LOAN OFFICER
EXPO_PUBLIC_LOAN_OFFICER_UUID=""

# ---------------- ROOM IDs ----------------
# Room with Communication Agent and Scam Analyst
EXPO_PUBLIC_BAND_SCAM_ROOM_ID=""

# Room with Communication Agent and Financial Auditor
EXPO_PUBLIC_BAND_AUDIT_ROOM_ID=""

# Room with Communication Agent and Loan Officer
EXPO_PUBLIC_BAND_LOAN_ROOM_ID=""

EXPO_PUBLIC_API_URL_FAST_API=""

# ----------- BAND API URL -----------
EXPO_PUBLIC_BAND_API_URL=https://app.band.ai/api/v1

# ----------- INVESTMENT API KEY -----------
EXPO_PUBLIC_ALPHA_VANTAGE_KEY=""

# ---------------- API KEYS ----------------
# COMMUNICATION AGENT
EXPO_PUBLIC_COMMUNICATION_AGENT_API_KEY=""

# ---------------- UUIDs ----------------
# SCAM ANALYST
EXPO_PUBLIC_SCAM_ANALYST_UUID=""

# FINANCIAL AUDITOR
EXPO_PUBLIC_FINANCIAL_AUDITOR_UUID=""

# LOAN OFFICER
EXPO_PUBLIC_LOAN_OFFICER_UUID=""

# ---------------- ROOM IDs ----------------
# Room with Communication Agent and Scam Analyst
EXPO_PUBLIC_BAND_SCAM_ROOM_ID=""

# Room with Communication Agent and Financial Auditor
EXPO_PUBLIC_BAND_AUDIT_ROOM_ID=""

# Room with Communication Agent and Loan Officer
EXPO_PUBLIC_BAND_LOAN_ROOM_ID=""