# SQL Server Configuration (Windows Authentication)
DB_PASSWORD=
DB_SERVER=your_computer_name\SQLEXPRESS
DB_DATABASE=SmartRupiDB
DB_PORT=1433

# Node Server
PORT=3000

# Python AI Service (Ghavish will give you this URL)
AI_SERVICE_URL=http://localhost:8000